{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field, label_visible=true) -%}

<div class="admin_form form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if field.type != 'HiddenField' and label_visible %}
        <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
        <br/>
    {% endif %}
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
        {% for e in field.errors %}
            <p class="help-block" style="color:red">{{ e }}</p>
        {% endfor %}
    {% endif %}
</div>
{%- endmacro %}

<!--Start av header kan flyttas om till en egen header.html-->
<div style="height:*; width:100%; position:fixed; top:0; border:0px; background-color: #333333;z-index: 2;">
    <div class="dropdown" style="padding:15px;" >
        <a href="#dc"><button class="button shadow"><i class="fa fa-bars fa-2x logobtn"></i></button></a>
        <div id="dc" class="dropdown-content">
            <a href="/">Slumpa</a>
            <a href="fav.html">Favoriter</a>
            <a href="/">Inställningar</a>
            <a href="admin">Admin</a>
			<a href="http://localhost:8000/static/img/bpm.png">BAJSA PÅ MÅNEN</a>
        </div>
    </div>

    <div style="text-align:center; float:left; vertical-align: center; padding:10px;" class="logo shadow">Krogrouletten</div>
</div>

<br/><br/><br/><br/><br/><br/><br/>

<div class="admin_input" style="align:center;width:100%; text-align:center; clear: left;">
    <a class="fancybox fancybox.iframe" data-fancybox-type="iframe"  rel="group" href="/admin/popup">
        <button class="button lobster" style="font-size:120%;">Ny krog</button>
    </a>
</div>

<div class="admin_input" style="clear:both; padding:25px;">

    {% for krog in kroglista %}
        <div id="krog_1" class="odd">
            <form method="post" action="/admin/update">
                <div class="admin_form">
                    <div class="admin_form" hidden>
                        <input type="text" name="id" value={{ krog.id }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="namn" value={{ krog.namn }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="adress" value={{ krog.adress }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="oppet_tider" value={{ krog.oppet_tider }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="bar_typ" value={{ krog.bar_typ }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="stadsdel" value={{ krog.stadsdel }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="beskrivning" value={{ krog.beskrivning }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="betyg" value={{ krog.betyg }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="hemside_lank" value={{ krog.hemside_lank }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="intrade" value={{ krog.intrade }}>&nbsp;
                    </div>
                    <div class="admin_form">
                        <input type="text" name="iframe_lank" value={{ krog.iframe_lank }}>&nbsp;
                    </div>
                </div>
                <input type="submit" class="lobster" name="update" style="font-size:120%;" value="Skicka"/>
                <input type="submit" class="lobster" name="delete" style="font-size:120%;" value="Delete"/>
                <br/>
            </form>
        </div>
    {% endfor %}
    <!--första objektet-->
	<div id="krog_1" class="odd">
		Odd
        <button id="edit_button_odd" class="edit_button lobster">edit</button>
    </div>
    <!--andra ojektet-->
	<div id="krog_2" class="even">
		Even
        <button id="edit_button_even" class="edit_button lobster">edit</button>
	</div>

<!--fler objekt i databasen typ-->
</div>

<div style="align:center;width:100%; text-align:center; clear: left;">
    <form action="/admin/uploadFile" method="POST" enctype="multipart/form-data">
        <div style='height: 0px;width: 0px; overflow:hidden;'>
            <input id="file" type="file" name="file" style="hidden">
        </div>

        <button type="button" class="button lobster" style="font-size:120%;" onclick="document.getElementById('file').click()">
            Choose file
        </button>
        <input type="submit" value="Upload csv file" class="button lobster" style="font-size:120%;"/>
    </form>

    <form action="/admin/export" method="GET">
        <input type="submit" value="Export csv file" class="button lobster" style="font-size:120%;"/>
    </form>

</div>

{% endblock %}