{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field, label_visible=true) -%}

<div class="admin_form form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if field.type != 'HiddenField' and label_visible %}
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    <br/>
    {% endif %}
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
    {% for e in field.errors %}
    <p class="help-block" style="color:red">{{ e }}</p>
    {% endfor %}
    {% endif %}
</div>
{%- endmacro %}


<br/><br/><br/><br/><br/><br/><br/>

<div class="admin_input" style="align:center;width:100%; text-align:center; clear: left;">
    <form method="get" action="/admin/unapproved">
        <button type="submit" class="button lobster">Visa ej godkända</button>
    </form>
</div>

<div class="admin_input" style="align:center;width:100%; text-align:center; clear: left;">
    <a data-toggle="modal" data-target="#nykrog_modal2" href="#" class="button lobster">Ny Krog</a>
    <div class="modal fade" id="nykrog_modal2" role="dialog">
        <div class="modal-dialog modal-lg">
            <form method="post" action="/admin/krog/save">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ny krog</h4>
                    </div>
                    <div class="modal-body">
                        <div class="admin_input" style="clear:both; padding:25px;">
                            {{ render_field(adminKrogForm.id, readonly=true, label_visible=false, type='hidden') }}
                            {{ render_field(adminKrogForm.namn, label_visible=true, placeholder='Namn', type='text') }}
                            {{ render_field(adminKrogForm.adress, label_visible=true, placeholder='Adress', type='text') }}
                            {{ render_field(adminKrogForm.oppetTider, label_visible=true, placeholder='Öppettider', type='text') }}
                            {{ render_field(adminKrogForm.barTyp, label_visible=true, placeholder='Bartyp', type='text') }}
                            {{ render_field(adminKrogForm.stadsdel, label_visible=true, placeholder='Stadsdel', type='text') }}
                            {{ render_field(adminKrogForm.beskrivning, label_visible=true, placeholder='Beskrivning', type='text') }}
                            {{ render_field(adminKrogForm.betyg, label_visible=true, placeholder='Betyg', type='text') }}
                            {{ render_field(adminKrogForm.hemside_lank, label_visible=true, placeholder='Hemsida', type='text') }}
                            {{ render_field(adminKrogForm.intrade, label_visible=true, placeholder='Inträde', type='text') }}
                            {{ render_field(adminKrogForm.iframe_lank, label_visible=true, placeholder='Iframe', type='text') }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="admin_form">
                            <input type="submit" value="Skicka" class="button lobster"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="admin_input" style="clear:both; padding:25px;">

    {% for krog in kroglista %}
    <div id="krog_1" class="odd">
        <form method="post" action="/admin/krog/update">
            <div class="admin_form">
                <div class="admin_form" hidden>
                    <input type="text" name="id" value="{{ krog.id }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="namn" value="{{ krog.namn }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="adress" value="{{ krog.adress }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="oppet_tider" value="{{ krog.oppet_tider }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="bar_typ" value="{{ krog.bar_typ }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="stadsdel" value="{{ krog.stadsdel }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="beskrivning" value="{{ krog.beskrivning }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="betyg" value="{{ krog.betyg }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="hemside_lank" value="{{ krog.hemside_lank }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="intrade" value="{{ krog.intrade }}">&nbsp;
                </div>
                <div class="admin_form">
                    <input type="text" name="iframe_lank" value="{{ krog.iframe_lank }}">&nbsp;
                </div>
            </div>
            <input type="submit" class="admin_button lobster" name="update" value="Update"/>
            <input type="submit" class="admin_button lobster" name="delete" value="Delete"/>
            <input type="submit" class="admin_button lobster" name="approve" value="Approve"/>
            <br/>
        </form>
    </div>
    {% endfor %}
    <!--fler objekt i databasen typ-->
</div>

<div style="align:center;width:100%; text-align:center; clear: left;">
    <form action="/admin/uploadcsv" method="POST" enctype="multipart/form-data">
        <div style='height: 0px;width: 0px; overflow:hidden;'>
            <input id="file" type="file" name="file" style="hidden" onchange="this.form.submit()">
        </div>

        <button type="button" class="button lobster" style="font-size:120%;" onclick="document.getElementById('file').click()">
            Upload csv file
        </button>
    </form>

    <form action="/admin/exportcsv" method="GET">
        <input type="submit" value="Export csv file" class="button lobster" style="font-size:120%;"/>
    </form>
</div>

{% endblock %}
