{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
	{{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

<div class="" style="width:100%; clear: left; padding-left:4%; padding-right:4%; text-align:center;">
	<img src="/static/img/bpm2.png" style="margin-left: auto; margin-right: auto; max-width:100%; max-height:100%;"/>
</div>
<br/><br/><br/>

<!--Start slump knappen-->
<div class="slumpa_div">
	<div class="slumpa_div_inner">
		<div style="display: inline-block; text-align:center; ">
			<form role="form" method="post" action="/krog/random">
				{{ render_field(searchForm.latitude) }}
				{{ render_field(searchForm.longitude) }}

				<div style="float:left; padding: 10px;">
					<button id="slumpaGPS" class="slumpa_button lobster flipInX animated">Slumpa &nbsp;<i class="fa fa-random"></i></button>
					<input type="submit" id="hidden_submit" hidden/>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
