{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}


<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>

    <div class="" style="width:100%; clear: left; padding-left:4%; padding-right:4%; text-align:center;">
        <h5>
            {{ data }} </br></br>
            Pröva igen eller tryck på kugghjulet för att ändra inställningar.</br></br></br></br>

        </h5>
    </div>


{% endblock %}
