{% extends "base/_base.html" %}

{% block content %}

<!--Start av header kan flyttas om till en egen header.html-->
<div style="height:*; width:100%; position:fixed; top:0; border:0px; background-color: #333333;z-index: 2;">
	<div class="dropdown" style="padding:10px;" >
		<a href="#dc"><button class="button shadow"><i class="fa fa-bars fa-2x logobtn"></i></button></a>
		<div id="dc" class="dropdown-content">
			<a href="/">Slumpa</a>
			<a href="fav.html">Favoriter</a>
			<a href="/">Inställningar</a>
			<a href="admin">Admin</a>
			<a href="http://localhost:8000/static/img/bpm.png">BAJSA PÅ MÅNEN</a>
		</div>
	</div>

	<div style="text-align:center; float:left; vertical-align: center; padding:10px;" class="logo shadow"><a href="/">Krogrouletten</a></div>
</div>

<br/><br/><br/><br/>
<div class="flipInX animated" style="align:center;width:100%; text-align:center; clear: left;">
    <br/>
	<br/>
	<iframe src="{{ data.iframe_lank }}" width="92%" height="300" frameborder="0" style="border:0; background-color:#f3f3f3;" allowfullscreen></iframe>
    <br/><br/><span class="namn"><a href="{{ data.hemside_lank }}">{{data.namn}}</a></span>
	<br/>
	<b>{{data.beskrivning}} <br/>Omdöme:&nbsp;{{ data.betyg }}<br/>Typ:&nbsp;{{ data.bar_typ }} <br/>Öppet till:&nbsp;{{ data.oppet_tider }}<br/>
		<br/>
	</b>
    
</div>

<!--Start slump knappen-->
<div style="align:center; position:relative; bottom:0; text-align:center; width:100%; float:left; padding:0;">
	<div style="align:center; text-align:center; width:100%; vertical-align: bottom; background-color: #333333;">
		<div style="display: inline-block; text-align:center; ">
			<div style="float:left; padding: 10px;">
				<a href="/"><button class="slumpa_button shadow">Slumpa</button></a>
			</div>&nbsp;&nbsp;
			<div style="float:left; padding:10px;">
				<a href="/"><button class="star_button"><i class="fa fa-star shadow"></i></button></a>
			</div>
		</div>
	</div>
</div>
<!--Slut Slump knappen-->

{% endblock %}