{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<br/>
<br/>
<br/>
<div style="padding:10%; text-align:center;">
    <h1>Välkommen!</h1>
    <br/>
    <h3>Tryck för att starta
        <br/>
        <br/>
        <i class="material-icons" style="font-size:300%; margin-left:80px;" >arrow_downwards</i>
        <br/>
    </h3>
</div>


{% endblock %}