{% extends "base/_base.html" %}

{% block content %}

<!--Start av header kan flyttas om till en egen header.html-->

<div class="logo_bg" >
    <div class="dropdown" style="padding:15px;" >
        <a href="#dc"><i class="fa fa-bars fa-2x logobtn"></i></a>
        <div id="dc" class="dropdown-content">
            <a href="/krog/random">Slumpa</a>
            <a href="/">Inställningar</a>
            <a href="/admin">Admin</a>
            <a href="/static/img/bpm.png">BAJSA PÅ MÅNEN</a>
        </div>
    </div>

    <div style="text-align:center; float:left; vertical-align: center; padding:10px;" class="logo lobster"><a href="/">Krogrouletten</a></div>
</div>

<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
	<div class="container">
		<div class="panel-group col-md-6 col-lg-offset-2 col-md-offset-3">
			<div class="panel panel-default">
				<a data-toggle="collapse" class="center" href="#collapse1"><div class="panel-heading">
					<h4 class="panel-title black">
						Plats
					</h4>
				</div></a>
				<div id="collapse1" class="panel-collapse collapse">
					<div class="panel-body">
						<form role="form" method="post" action="/gps">
							<div class="radio">
								<input type="radio" name="pos_" id="pos_gps" value="pos_gps" checked>
								<label for="pos_gps">
									Baserad på min plats, avstånd:
								</label>
							</div>
								<div class="form-group col-xs-8 col-md-6 col-lg-4">
								<select class="form-control" id="pos_gps_proximity">
									<option>100m</option>
									<option>200m</option>
									<option>300m</option>
									<option>500m</option>
									<option>1km</option>
									<option>3km</option>
									<option>5km</option>
									<option selected>8km</option>
								</select>
							</div></br></br>
								 <div class="clearfix visible-xs-block"></div>

						<div class="radio">
							<input type="radio" name="pos_" id="pos_adress" value="pos_adress">
							<label for="pos_adress">
								Från adress: 
								
							</div>
							  <div>   
						
								<div class="col-xs-12 col-md-8  col-sm-9 col-lg-9" style="margin:4px;"> <input class="form-control" type="text" name="adress"/></div>
								<div class="col-xs-2 col-md-2 col-lg-2 clearfix" style="margin:4px;"> <input id="manualGPS" type="submit" class="btn btn-primary" value="Hitta adress"></div>
							
							</div> <div class="clearfix visible-xs-block"></div>
							<div class="radio col-lg-12 col-sm-12 col-md-12 clearfix">
								<input type="radio" name="pos_" id="pos_stadsdel" value="pos_stadsdel">
								<label for="pos_stadsdel">
									Baserad på stadsdel:
								</label>
								
							</div>
							<div class="col-lg-12 col-sm-12 col-md-12 clearfix">
							<div class="clearfix" style="margin:15px;">
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_soder">
								<label for="pos_stadsdel_soder">
									Söder
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_kungsholmen">
								<label for="pos_stadsdel_kungsholmen">
									Kungsholmen
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_vasastan">
								<label for="pos_stadsdel_vasastan">
									Vasastan
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_city">
								<label for="pos_stadsdel_city">
									City
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_gamlastan">
								<label for="pos_stadsdel_gamlastan">
									Gamla Stan
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_ostermalm">
								<label for="pos_stadsdel_ostermalm">
									Östermalm
								</label>
							</div>
							<div class="checkbox checkbox-primary clearfix">
								<input type="checkbox" id="pos_stadsdel_orten">
								<label for="pos_stadsdel_orten">
									Orten
								</label>
							</div></div></div>

						</form>
						</div>
						
						
						
					</div>
					
				</div>
			</div>
<div class="clearfix visible-xs-block visible-lg-block visible-md-block visible-sm-block"> </div>
		<div class="panel-group col-md-6 col-lg-offset-2 col-md-offset-3">
			<div class="panel panel-default">
				<a data-toggle="collapse" class="center" href="#collapse2"><div class="panel-heading">
					<h4 class="panel-title black">
						Preferenser
					</h4>
				</div></a>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
						<form role="form">
							<h4 class="panel-title black">
								Bar typ:
							</h4>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_bar">
								<label for="cb_bar">
									Bar
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_restaurang">
								<label for="cb_restaurang">
									Restaurang
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_sportsbar">
								<label for="cb_sportsbar">
									Sportbar
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_sunkhak">
								<label for="cb_sunkhak">
									Sunkhak
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_nattklubb">
								<label for="cb_nattklubb">
									Nattklubb
								</label>
							</div>
							</br>
							<h4 class="panel-title black">
								Öppet till idag:
							</h4>
							
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_oppet_01">
								<label for="cb_oppet_01">
									Öppet till 01
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_oppet_03">
								<label for="cb_oppet_03">
									Öppet till 03
								</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="cb_oppet_05">
								<label for="cb_oppet_05">
									Öppet till 05
								</label>
							</div>
						</form>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<br/>
<div class="" style="align:center; width:100%; clear: left; text-align: center;">
    <button id="slumpaGPS" class="slumpa_button_dark lobster flipInX animated">Slumpa</button>

</div>
<br/><br/><br/>

{% endblock %}