{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}


<!-- Carousel Card -->
<div class="card card-raised card-carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators" style="display:none;">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/static/img/bg2.jpeg" alt="Awesome Image">
                    <div class="carousel-caption">
                        <h2 style="font-weight:400;">{{ data.namn }}</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/bg3.jpeg" alt="Awesome Image">
                    <div class="carousel-caption">
                        <h2>{{ data.namn }}</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="/static/img/bg4.jpeg" alt="Awesome Image">
                    <div class="carousel-caption">
                        <h2>{{ data.namn }}</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>
<!-- End Carousel Card -->

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<!-- Tabs with icons on Card -->
<div class="card card-nav-tabs" style="margin-top:-17px !important;  border-radius: 0px !important; box-shadow: 0 0 0 0 !important;">
    <div class="header header-success">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#profile" data-toggle="tab">
                            <i class="material-icons">info_outline</i><span id="text_label_info">Info</span>
                        </a>
                    </li>
                    <li>
                        <a href="#tider" data-toggle="tab">
                            <i class="material-icons">schedule</i><span id="text_label_hours">Öppettider</span>
                        </a>
                    </li>
                    <li>
                        <a href="#messages" data-toggle="tab">
                            <i class="material-icons">chat</i><span id="text_label_comments">Kommentarer</span>
                        </a>
                    </li>
                    <li>
                        <a href="#karta" data-toggle="modal" data-target="#KartModal">
                            <i class="material-icons">location_on</i><span id="text_label_map">Karta</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" data-toggle="tab">
                            <i class="material-icons">favorite</i><span id="text_labels">Favorit</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tab-content text-center" style="margin-bottom:70px;">
            <div class="tab-pane active" id="profile">
                <h4 style="font-weight:400;">Info</h4>


                <button type="button" class="btn btn-xs btn-default btn-success" style="margin-left:12px; height:75px !important;width:75px !important; float:right; clear: both;"><b style="font-size:300%; font-weight:400;">{{ data.betyg }}</b><br/>BETYG</button>
                {% for type in data.bar_types %}
                    <button type="button" class="btn btn-xs btn-primary" style="margin-left:12px; margin-right:2px; height:20px !important; width:75px !important; float:right; clear: both;">{{ type }}</button>
                {% endfor %}


                <p style="text-align:left !important; font-weight:400;">
                    {{ data.beskrivning }}
                </p>
                <p class="text-muted"style="text-align:left !important;">
                    {{ data.adress }}
                </p>
            </div>
            <div class="tab-pane" id="tider">
                <h4 style="font-weight:400;">Öppettider</h4>
                <p style="text-align:left !important; font-weight:400;">
                    {{ data.oppet_tider }}
                </p>
            </div>
            <div class="tab-pane" id="messages">
                <h4 style="font-weight:400;">Kommentarer</h4>
                <table class="table" style="text-align:left !important;">
                    <tbody>
                    {% for review in data.reviews %}
                        <tr>
                            <td>{{ review.comment }}</td>
                            <td class="td-actions text-right">{{ review.author_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p style="text-align:left !important; font-weight:400;">Kommentera:</p>
                <textarea class="form-control" placeholder="Skriv en kommentar" style="margin-top:-26px !important;" rows="3"></textarea>
                <button type="button" class="btn btn-primary">Skicka</button>
            </div>
            <div class="tab-pane" id="karta">
                <p>Karta</p>
            </div>
        </div>
    </div>
</div>
<!-- End Tabs with icons on Card --
>
<!-- Modal Core -->
<div class="modal fade" id="KartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:10px !important; margin-left:auto !important;margin-right:auto !important; max-width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Karta</h4>
            </div>
            <div class="modal-body" style="padding:0%; height:400px;">
                <iframe class="iframe1" src="{{ data.iframe_lank }}" width="100%" height="100%" frameborder="0" align="center" allowfullscreen=""></iframe>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>

<!--Slut Slump knappen-->

{% endblock %}
