{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}


<!-- Carousel Card -->
<div class="card card-raised card-carousel">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators" style="display:none;">
            {% for photo in data.photos %}
                <!-- Set first photo as active photo -->
                {% if loop.first %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
                {% else %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
                {% endif %}
            {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for photo in data.photos %}
                <!-- Set first photo as active photo -->
                {% if loop.first %}
                <div class="item active" id="first-picture-outer" >
                    <img src="{{ photo }}" id="first-picture" alt="Awesome Image" style="margin-left: auto;margin-right: auto;">

                    <div class="carousel-caption" style=" height:100%; right:0% !important; left:0% !important; bottom: 0px !important; width:100%; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 13%,rgba(0,0,0,0.5) 100%);">
<div class="carousel-caption" >
                        <h2 style="font-weight:400;">{{ data.namn }}</h2>
                      </div>
                    </div>

                </div>
                {% else %}
                <div class="item">
                    <img src="{{ photo }}" alt="Awesome Image" style="margin-left: auto;margin-right: auto;">


                  <!--  <div class="carousel-caption">
                        <h2>{{ data.namn }}</h2>
                    </div>  -->


                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="material-icons">keyboard_arrow_left</i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="material-icons">keyboard_arrow_right</i>
            </a>
        </div>
    </div>
</div>
<!-- End Carousel Card -->

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<!-- Tabs with icons on Card -->
<div class="card card-nav-tabs" style="margin-top:-17px !important;  border-radius: 0px !important; box-shadow: 0 0 0 0 !important;">
    <div class="header header-success">
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#profile" data-toggle="tab">
                            <i class="material-icons">info_outline</i><span class="text_labels" id="text_label_info">Info</span>
                        </a>
                    </li>
                    <!--<li>
                        <a href="#tider" data-toggle="tab">
                            <i class="material-icons">schedule</i><span class="text_labels" id="text_label_hours">Öppettider</span>
                        </a>
                    </li>-->
                    <li>
                        <a href="#messages">
                            <i class="material-icons">chat</i><span class="text_labels" id="text_label_comments">Kommentarer</span>
                        </a>
                    </li>
                    <li>
                        <a href="#karta" data-toggle="modal" data-target="#KartModal">
                            <i class="material-icons">location_on</i><span class="text_labels" id="text_label_map">Karta</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" data-toggle="tab">
                            <i class="material-icons">favorite_border</i><span class="text_labels" id="text_labels_favourite">Favorit</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="tab-content text-center" style="margin-bottom:70px;">
            <div class="tab-pane active" id="profile">
                <!-- Profil -->


                <button type="button" id="betyg-button" class="btn btn-xs btn-default btn-success" style="margin-left:12px; height:75px !important;width:75px !important; float:right; clear: both;"><b style="font-size:300%; font-weight:400;">{{ data.betyg }}</b><br/>BETYG</button>

                <h4 style="text-align:left !important; font-weight:400;">
                    {{ data.beskrivning }}
                </h4>
                <p class="text-muted"style="text-align:left !important;">
                    {{ data.adress }}
</br></br>

                {% for type in data.bar_types %}

                <span style=" border-radius: 4px; background: #999999; padding: 5px; color:white;"># {{ type }}</span>
                {% endfor %}

</p></br>
                <!-- Öppettider -->
                <h4 style="text-align:left !important; font-weight:400;"><i class="material-icons">schedule</i>&nbsp;&nbsp;Öppettider</h4>
                <p style="text-align:left !important;">
                    {% for opening_hour in data.oppet_tider %}
                        {{ opening_hour }} <br/>
                    {% else %}
                        Ingen information om öppettider.
                    {% endfor %}
                </p>
</br>

                <!-- Kommentarer -->
                <h4 id="messages" style="font-weight:400; text-align:left !important;"><i class="material-icons">chat</i>&nbsp;&nbsp;Senaste kommentarerna</h4>
                <table class="table" style="text-align:left !important;">

                    {% for review in data.reviews %}
                        <div style="font-weight:400; background:#F9F6ED; border-radius: 6px; padding 20px; margin:26px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
                            <div style="padding:20px;text-align:left !important;">{{ review.comment }}</br>
                            <div style="padding:20px;padding-bottom:0px;text-align:right !important;"><span style="line-height:200%;">
                            - {{ review.author_name }}</span></div>
                            </div>
                        </div>
                    {% endfor %}


                    <div style="border-radius: 6px;">


                    </div>
                </table>
                <!--
                <p style="text-align:left !important; font-weight:400;">Kommentera:</p>
                <textarea class="form-control" placeholder="Skriv en kommentar" style="margin-top:-26px !important;" rows="3"></textarea>
                <button type="button" class="btn btn-default">Skicka</button>
                -->


            </div>
            <div class="tab-pane" id="tider">



            </div>
            <div class="tab-pane" >

            </div>
            <div class="tab-pane" id="karta">
                <p>Karta</p>
            </div>
        </div>
    </div>
</div>
<!-- End Tabs with icons on Card --
>
<!-- Modal Core -->
<div class="modal fade" id="KartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top:10px !important; margin-left:auto !important;margin-right:auto !important; max-width:800px;">
        <div class="modal-content">

            <div class="modal-body" style="padding:0%; height:400px;">
                <iframe class="iframe1" src="{{ data.iframe_lank }}" width="100%" height="100%" frameborder="0" align="center" allowfullscreen=""></iframe>
            </div>


            <div class="modal-footer" style="padding:16px !important;">
                <button type="button" class="btn btn-default btn-default" style="margin 16px !important;" data-dismiss="modal">Stäng</button>
            </div>
        </div>
    </div>
</div>

<!--Slut Slump knappen-->

{% endblock %}
