{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

{% macro render_radio(field) -%}
<div class="radio  clearfix">
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

<div style="text-align: center;">
    <h3>Lista på närmsta barer</h3>
</div>
<!-- Tabs on Plain Card -->
<div class="card card-nav-tabs card-plain" style="width:90%;">
    <div class="content">
        <div class="tab-content text-center">
            <div class="tab-pane active form-group label-floating" id="narmsta">
                {% if data|length > 1 %}


                    {% for krog in data %}
                    <div style="text-align:left; margin:5%; border-radius:3px; background: #efefef; width:100%; height:100%; max-width:340px; padding:20px;">
                        <form id="list-form-{{ krog.place_id }}" role="form" method="get" action="/details/{{ krog.place_id }}">
                            <div onClick="document.forms['list-form-{{ krog.place_id }}'].submit();">
                                <span hidden>{{ krog.place_id }}</span>
                                <div align="left" width="*" style=""><strong>{{ krog.namn }}</strong><br/>
                                    {{ krog.adress }}
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endfor %}


                {% endif %}

                <input id="findLista" type="submit" class="btn btn-default" value="Lista närmsta">
            </div>
        </div>
    </div>
</div>

{% endblock %}
