{% extends "base/_base.html" %}

{% block content %}

{% macro render_field(field) -%}
<div>
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

{% macro render_radio(field) -%}
<div class="radio" style="color:#000000">
    {{ field(class_='form-control', **kwargs) }}
</div>
{%- endmacro %}

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->

<!-- Tabs with icons on Card -->
<br/><br/>
<h3 style="text-align:center;">Sök inställningar</h3>
<div style="width:90%; margin-left:5%;  box-shadow: 0 0 0 0 !important; margin-bottom:70px;">
    <form id="settings_form" role="form" method="post" action="/krog/random">
        <div class="content">
            <div style="margin-bottom:70px;">

                <div class="form-group label-floating text-center" id="gps">
                    <br/>
                    <h4 style="font-weight:400;">
                        <i class="material-icons">check</i>Slumpa inom radien av:
                    </h4>

                    <div class="form-group center" style="width:80%; margin-left:10%;">
                        <div>
                            {{render_field(searchForm.distance, id="distance", class="text-center")}}
                        </div>
                    </div>
                </div>

                <div class="text-center" id="list">
                    <div style="width:90%;">
                        <div class="content">
                            <div class="text-center">
                                <div class="form-group label-floating" id="narmsta">
                                    <button id="findLista" type="button" class="btn btn-default">
                                        Lista närmsta barer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

{% endblock %}
