<!-- Menyn -->
<div style="background-color: #e200fd; height:70px; width:100%; max-width:800px;" id="topbar_1">
    <nav class="navbar navbar-primary" style="position:fixed; z-index:1; width:100%; max-width:800px;">
        <div class="container" style="width:100%; max-width:800px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><b>Krogrouletten</b></a>
            </div>

            <div class="collapse navbar-collapse"  style="text-align:right;" id="example-navbar-transparent">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">
                            Hem &nbsp;
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Undermeny -->
<nav id="bottombar_1" class="navbar navbar-primary" style="position:fixed;  bottom:-28px; right:0px; z-index:100; width:auto; border-radius:0px; ">
    <div class="container" style="width:100%;">
        <div class="collapse navbar-collapse"  style="text-align:right;" id="example-navbar-transparent1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" >
                        Hem &nbsp;
                        <i class="material-icons">home</i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-transparent1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>