		body {
        background-color: #333333;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding:0;
        margin:0px;
		overflow-x:hidden;
        }
		@media screen and (max-width: 480px) {
		.logo {
        font-size:170% !important;
		}
		}
		a {
		color: white;
		text-decoration: none;
		}
		.admin_input{
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		padding:10px;
		}
		.admin_form{
		float:left;
		}
		.odd{
		background:#696969;
		height:100%;
		box-sizing: border-box;
		border:1px solid #222222;
		padding:5px;
		}
		.even{
		background:#898989;
		height:100%;
		box-sizing: border-box;
		border:1px solid #222222;
		padding:5px;
		}
		.edit_button{
		float:right;
		}
		.adress a {
		color: #999999;
		text-decoration: none;
		}
		.namn{
		font-weight: 400;
		font-size:200%;
		}
		.adress{
		font-weight: 400;
		font-size:150%;
		}
		.beskrivning{
		width:500px;
		display: inline-block;
		padding:50px;
		font-weight: 400;
		text-align:left; 
		}
        .logo{
        font-family: 'Lobster', sans-serif;
        font-weight: 400;
        font-size:340%;

        }
        .logobtn{
        font-weight: 400;
        font-size:170%;
        }
        .lobster{
        font-family: 'Lobster', sans-serif;
        }
        .button {
        background-color: #666666;
        border: 3px solid #535353;
        border-radius:7px;
        color: white;
        padding: 12px 15px;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        }
        .submit_button {
                background-color: white;
                border: 3px solid #535353;
                border-radius:7px;
                color: black;
                padding: 12px 15px;
                text-align: center;
                display: inline-block;
                margin: 4px 2px;
                cursor: pointer;
                }
        .star_button {
        font-weight: 400;
        font-size:150%;
        text-shadow:
        float:right;

        background-color: #666666;
        border: 3px solid #535353;
        border-radius:7px;
        color: white;
        padding: 17px 18px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        }
        .slumpa_button {
        font-family: 'Lobster', sans-serif;
        font-weight: 400;
        font-size:260%;
        float left;

        background-color: #666666;
        border: 3px solid #535353;
        border-radius:7px;
        color: white;
        padding: 5px 25px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        }
        .dropdown {
        position: relative;
        display: inline-block;
        float:right;

        }
        .shadow{
        text-shadow:
        -1px -1px 6px #535353,
        1px -1px 6px #535353,
        -1px 1px 6px #535353,
        1px 1px 6px #535353,
        -1px -1px 6px #535353,
        1px -1px 6px #535353,
        -1px 1px 6px #535353,
        1px 1px 6px #535353,
        -1px -1px 6px #535353,
        1px -1px 6px #535353,
        -1px 1px 6px #535353,
        1px 1px 6px #535353;
        }

        .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        }

        .dropdown-content:target{
        display: block;
        color: black;
        z-index: 1;
        }


        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }
        .dropdown-content a:hover {background-color: #f1f1f1
        }

        .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes flipInX {
        from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        }

        40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        }

        60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
        }

        80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }

        to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        }

        @keyframes flipInX {
        from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
        }

        40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        }

        60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
        }

        80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }

        to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        }
        }

        .flipInX {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
        }