version: "2"

services:
  redis:
    image: redis

  postgres:
    image: 'postgres:9.5'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DBNAME: sentry
      POSTGRES_DBUSER: sentry
      POSTGRES_DBPASS: sentry

  sentry_install:
    build: .
    image: sentry_install
    links:
     - redis
     - postgres
    depends_on:
     - postgres
    stdin_open: true
    tty: true
    environment:
      SENTRY_SECRET_KEY: j8tj&7zcpulm-n50j4ao^l_qlqqhik8&4zj*^#4g7vm5_#a^_v
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: postgres
      SENTRY_DB_PASSWORD: postgres
      SENTRY_REDIS_HOST: redis
    command: bash -c "sleep 5; sentry upgrade --noinput && sentry createuser --email=test@test.se --password=password --superuser --no-input && sentry import sentry.json"

  sentry:
    image: 'sentry:8.7'
    links:
     - redis
     - postgres
    ports:
     - "9000:9000"
    depends_on:
    - postgres
    - sentry_install
    stdin_open: true
    tty: true
    environment:
      SENTRY_SECRET_KEY: j8tj&7zcpulm-n50j4ao^l_qlqqhik8&4zj*^#4g7vm5_#a^_v
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: postgres
      SENTRY_DB_PASSWORD: postgres
      SENTRY_REDIS_HOST: redis

  sentry_celery_beat:
    image: 'sentry:8.7'
    links:
     - redis
     - postgres
    depends_on:
     - postgres
     - sentry_install
    environment:
      SENTRY_SECRET_KEY: j8tj&7zcpulm-n50j4ao^l_qlqqhik8&4zj*^#4g7vm5_#a^_v
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: postgres
      SENTRY_DB_PASSWORD: postgres
      SENTRY_REDIS_HOST: redis
    command: bash -c "sleep 60 && sentry run cron"

  sentry_celery_worker:
    image: 'sentry:8.7'
    links:
     - redis
     - postgres
    depends_on:
     - postgres
     - sentry_install
    environment:
      SENTRY_SECRET_KEY: j8tj&7zcpulm-n50j4ao^l_qlqqhik8&4zj*^#4g7vm5_#a^_v
      SENTRY_POSTGRES_HOST: postgres
      SENTRY_DB_USER: postgres
      SENTRY_DB_PASSWORD: postgres
      SENTRY_REDIS_HOST: redis
      C_FORCE_ROOT: 1
    command: bash -c "sleep 60 && sentry run worker"

